<%# This is a LAYOUT for a form on a TopsailService instance.
    It is designed to work with the topsail_cruddy_views framework
    When rendering this layout, pass a one-argument block. The argument is the form builder.
      render layout: 'topsail_service_form' do |form|
        # your form on FormBuilder form
      end

    As usual, you can define the submit button text by I18n your service model_name,
    or by providing a translation for en.helpers.submit.#{your service model i18n key}.create

    needs    @service
%>
<%= form_with(model: @service,
              url:   request.path,
              local: false,
              class: "resource_form #{dom_class(@service)}",
              id:    dom_id(@service),
              data:  { action: "ajax:complete->cruddy-view#update" }) do |f| %>
  <%= render 'validation_errors', record: @service %>

  <%= yield(f) %>

  <div class="form_actions">
    <%= f.submit class: 'primary' %>
    <a href="#" data-action="cruddy-view#cancel" class="secondary button cancel">Cancel</a>
  </div>
<% end %>
